
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
   <dl>
       <dt>Name</dt>
       <dd>@TempData["Uname"]</dd>
       <dt>price</dt>
       <dd>@Session["Name"]</dd>
   </dl>
</div>

