
<h2>Index</h2>
<div>
    <form method="post">
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="txtname" /></dd>
            <dt>Price</dt>
            <dd><input type="text" name="txtprice" /></dd>
        </dl>
        <button>Register</button>
    </form>
</div>
